.game {
    width: 500px;
    height: 200px;
    border: 1px solid black;
  }
  
  #person {
    width: 20px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
  }
  
  .animation {
    animation-name: jump;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  
  #object{
    width: 20px;
    height: 25px;
    background-color: red;
    position: relative;
    top: 125px;
    left: 475px;
  }
  
  .color{
    color: white;
  }
  
  .start{
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .warte{
    animation-name: wait;
    animation-duration: 5s;
  }
  
  @keyframes wait{
    from{left: 475px;}
    to{left: 475px;}
  }
  
  #countdown{
    position: absolute;
    top: 80px;
    left: 230px;
  }
  
  .count{
    animation-name: count;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  
  @keyframes count{
    0%{top: 80px;}
    50%{top: 40px;}
    75%{top: 0px;}
    100%{top: -40px}
  }
  
  @keyframes move{
    from{left: 475px;}
    to{left: -40px;}
  }
  
  .jump {
    position: relative;
    top: -50px;
    left: 510px;
    height:50px;
    width:100px;
  }
  
  @keyframes jump{
    0%{top:150px;}
    25%{top:110px;}
    50%{top:110px;}
    100%{top:150px;}
  }
  
  #welcome {
    background-color: red;
    border: 2px;
    border-color: black;
  }
  
  #begin{
    position: absolute;
    left: 525px;
    top: 200px;
  }
  
  #score{
    position: relative;
    left: 100px;
    bottom: 50px;
  }